<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" href="imagens/estilo.css">
<link rel="stylesheet" href="imagens/stiloFunc.css">
<meta charset="utf-8">
<title>Assist-Assistencia Tecnica</title>
</head>


<body>

<input type="checkbox" id="chec">
	<label for="chec"> <img  src="imagens/59165.png">

	</label>

	<nav>
		<ul>
			<li><a href="">HOME</a></li>
			<li><a href="">CONTATOS</a></li>
			<li><a href="">FUNCIONÁRIO</a></li>
			<li><a href="">SAIR</a></li>

		</ul>

	</nav>

</header>

<body>

<h2>Cadastrar Funcionário</h2>

<form method="post">
<div class="container">
  
  <div class="row">
    <div class="col-25">
      <label for="fname">Nome</label>
    </div>
    <div class="col-75">
      <input type="text"  name="nome" value="" placeholder="Nome">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Sobrenome</label>
    </div>
    <div class="col-75">
      <input type="text" name="sobrenome" placeholder="Sobrenome">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      
    </div>
    
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Observação</label>
    </div>
    <div class="col-75">
      <textarea  name="observacao" placeholder="Escreva algo aqui.." style="height:200px"></textarea>
    </div>
  </div>
  <div class="row">
    <input type="submit" value="Salvar">
  </div>
  </form>
</div>

</body>
</html>

